#pane 
{
	-fx-background-color: lightcyan;
}
#btnQueryList
{
	-fx-background-color: lightblue;
}
#btnOrderList
{
	-fx-background-color: lightblue;
}
#btnStatisticalReview
{
	-fx-background-color: lightblue;
}
#btnSearchCustomer
{
	-fx-background-color: lightblue;
}
#btnQuit
{
	-fx-background-color: lightblue;
}