#pane 
{
	-fx-background-color: lightcyan;
}
#btnShowOrder
{
	-fx-background-color: lightblue;
}
#btnShowQuery
{
	-fx-background-color: lightblue;
}
#btnDeleteAccount
{
	-fx-background-color: lightblue;
}
#btnBack
{
	-fx-background-color: lightblue;
}
