#pane 
{
	-fx-background-color: lightcyan;
}
#btnSearch
{
	-fx-background-color: lightblue;
}
#btnBack
{
	-fx-background-color: lightblue;
}
#editUserId
{
	-fx-background-color: aqua;
	-fx-text-fill: navy;
	-fx-prompt-text-fill: navy;
}
