#pane 
{
	-fx-background-color: lightcyan;
}
#btnLogin
{
	-fx-background-color: lightblue;
}
#btnCreateAccount
{
	-fx-background-color: lightblue;
}
#btnQuit
{
	-fx-background-color: lightblue;
}
#editLoginId
{
	-fx-background-color: aqua;
	-fx-text-fill: navy;
	-fx-prompt-text-fill: navy;
}
#editLoginPass
{
	-fx-background-color: aqua;
	-fx-text-fill: navy;
	-fx-prompt-text-fill: navy;
}